#video-player {
    position: relative;
    display: block;
    width: 100%;
    user-select: none;
    -webkit-user-drag: none;
    overflow: hidden;
}

#container.video-player {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 0px;
    padding-top: 54.6%;
    box-sizing: content-box;
    margin: 0 auto;
    background: black;
}

.video-stream.html5-main-video {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.player-gradient {
    width: 100%;
    position: absolute;
    background-repeat: repeat-x;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAACQCAYAAADJLwFvAAAAAXNSR0IArs4c6QAAAPNJREFUKFNlyOlHGAAcxvHuY93H1n1fW1v3fbej+zAmI5PIRGYiM5JEEkkiiSSRRPoj83nze9Pz4uPrSUh4tURPEpKDFJWKNKQHGSoTb4IslY2cIFflIR8FQaEqQnHwVr1DSVCqylCOiqBSVaE6qFG1qAvqVQMa0RQ0qxa8Dz6oVnzEp6BNtaMj6FRd6A56VC/60B8MqEEMBcNqBKPBmBrHBCaDz+oLvgbf1BSmgxk1iznMBwtqEUtYxnf8wAp+YhW/sIZ1bOA3NrGFP/iLbezgH/5jF3vYxwEOcYRjnOAUZzjHBS5xhWvc4BZ3uMcDHvGE5xdEHCONWqEHVAAAAABJRU5ErkJggg==);
    transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
    pointer-events: none;
}

.player-gradient.bottom {
    height: 144px;
    padding-top: 45px;
    bottom: 0px;
    z-index: 24;
    background-position: bottom;
}

#initial-player-container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
}

#initial-player-container-inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

#large-play-button {
    pointer-events: none;
    appearance: none;
    background: none;
    border: 0;
    outline: 0;
    width: 68px;
    height: 48px;
    -webkit-transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
    transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1);
    z-index: 63;
}

#initial-player-container:hover path {
    transition: fill 0.1s cubic-bezier(0.4, 0, 1, 1), fill-opacity 0.1s cubic-bezier(0.4, 0, 1, 1);
}

#initial-player-container:hover path:nth-child(1),
#initial-player-container:focus path:nth-child(1) {
    fill: red;
}

/* Video preview */

.video-preview#main {
    position: absolute;
    bottom: 56px;
    height: 150px;
    width: calc(100% - 24px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    pointer-events: none;
}

.video-preview#container {
    position: absolute;
    bottom: 0px;
    width: 162px;
    transform: translateX(-50%);
    pointer-events: none;
    opacity: 1;
    transition: opacity 50ms cubic-bezier(0.4, 0, 1, 1);
}

.video-preview#container.hidden {
    opacity: 0;
}

.video-preview#video-container {
    height: 94px;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 2px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.video-preview#video {
    /* max-height: 488px; */
    height: 100%;
    width: 100%;
    // max-height: 74.5vh;
    padding-bottom: 0px;
}

.video-preview#text {
    color: #eeeeee;
    font-size: 13px;
    font-weight: 500;
    line-height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 14px;
    text-shadow: 0 0 4px #000000bf;
    -webkit-font-smoothing: antialiased;
}
